.signup_modal {
    display: flex;
    flex-direction: column;
    height: auto;
}

.signup_form {
    display: flex;
    flex-direction: column;
}

.signup_req {
    display: flex;
    flex-direction: column;
}

.signup_input {
    display: flex;
    align-self: center;
    width: 80%;
    margin: 10px 0px;
    height: 15px;
}

.signup_button {
    margin: 10px 0px;
    width: 90%;
    align-self: center;
}
.head {
    display: flex;

}

.sign_up {
    display: flex;
    align-self: center;
}

.errors_signup {
    margin: 5px;
    color: red;
    text-align: start;
    margin-left: 30px;
}
