.Spot_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 200px;
    margin: 20px 20px 0px 0px;
}
.Spot_container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
}
