.manage_title {
    padding: 20px 40px 10px 40px;
}

item {
    font-weight: 900;
}

a {
    font-weight: 900;
    text-decoration: none;
}

.create_spot_button {
    font-weight: 900;
    background-color: white;
    padding: 10px;
    margin: 0px 0px 0px 60px;
    height: 40px;
    text-decoration: none;
}
.manage_container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
    padding-top: 20px;
    justify-self:center;

}
.manage_spots_container img {
}

.manage_spots_container {
    padding: 15px;
    border-radius: 20px;
    border: black 2px solid;
}

.main_manage {
    text-decoration: none;
}

.manage_spot_description {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.bottom_manage {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.manage_confirm_buttons {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 5px;
}

.deletespot_button {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}


.deletespot_button:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    text-decoration: none;
}
.link_spot {
    display: flex;
    width: 100%;
    justify-items: center;
    flex-direction: column;
}

.updatespot_button {
    text-decoration: none;
}
