.manage_title {
    padding: 20px 40px 10px 40px;
}
a {
    text-decoration: none;
}

.create_spot_button {
    padding: 10px;
    margin: 0px 60px 30px 60px;
    height: 40px;
    text-decoration: none;
}
.manage_container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 100px;
    gap: 0px;
    justify-content: space-between;
}

.manage_spots_container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: 40px 60px;
    padding: 20px 10px 10px 10px;
    width: 400px;
    border: black 2px solid;
}

.main_manage {
    text-decoration: none;
}

.manage_spots_container img {
    display: flex;
    align-self: center;
    justify-self: space-around;
    width: 300px;
    height: 200px;
}


.manage_spot_description {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.bottom_manage {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 20px;
}
.manage_confirm_buttons {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 5px;
}

.deletespot_button {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}


.deletespot_button:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    text-decoration: none;
}
.link_spot {
    display: flex;
    width: 100%;
    justify-items: center;
    flex-direction: column;
}

.updatespot_button {
    text-decoration: none;
}
