.confirm_delete_title {
    display: flex;
    justify-content: center;
    width: 100%;
}
.subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.confirmation_note {
    display: flex;
    justify-items: center;
}
