#modal-content {
    height: 400px;
    width: 400px;
}
.form {
    display: flex;
    flex-direction: column;
}
.bottom_modal {
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 220px;
    width: 90%;
    height: 30%;
}

.top_modal {
    display: flex;
    justify-content: center;
}
/* .review_stars {
    display: flex;
    position: absolute;
    bottom: 150px;
    left: 70px;
} */
.star {
    margin-left: 25px;
}
.actual_stars {
    margin: 0px 10px
}
.submit_review {
    position: absolute;
    bottom: 10px;
    width: 80%;
    height: 50px;
    left: 30px;
}

.empty {
    color: grey;
    margin: 0px 10px;
}
.filled {
    color: black;
    margin: 0px 10px;
}
.review_stars {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 70px;
    bottom: 100px;
    background: none;
    border: none;
    cursor: pointer;
}
.reviewerrors {
    position: absolute;
    color: red;
    bottom: 170px;
    left: 30px;
}
