.spots_container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 125px;
}

.spot_owner {
    padding-left: 30px;
}

.Spot_container {
    padding: 10px;
    width: fit-content;
}
.Spot_container img {
    display: flex;
    align-self: center;
    height: 200px;
    width: 80%;
}

.SPOTS {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    border: black solid 1px;
    width: 400px;
}

.allSpots_details {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.root {
    width: 100%;
}

.Spot_container p {
    display: grid;
    grid-template-areas:
    "a . ."
    ". . ."
    ". . ."
    ;
}

.Spot_container:hover p {
    display: block;
}

.this_spot_details {
    display: flex;
    justify-content: space-between;
}

.this_spot_price {
    padding: 10px;
}
