#root {
    text-decoration: none;
}
body {
    background-color: lavender;
    font-weight: 900;
}
.spot_images {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.reserve_button {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
}
.reserve_button button {
    padding-top: 0px;
}

.reserve_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: black 2.5px solid;
    padding: 10px;
    border-radius: 10px;

}
.spot_reserve_price {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 0px;
}
.this_star {
    margin-left: 50px;
}

.rating_reservation {
    margin-top: 0px;
    margin-right: 5px;
}

.spot_info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    border-bottom: black 2.5px solid;

}

.all_images {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}
.preview_image {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-right: 15px;
    height: 100%;
}

.preview_image img {
    width: 100%;
    height: 100%;
}

.rest_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 0px 0px;
    width: 70%;
}

.rest_images img {
    width: 100%;
    height: 100%;
}
.previewImg {
    width: auto;
}

.spot_details {
    padding: 0px 70px;
    margin: 10px 50px;
    height: 100%;
    width: 90%;
}
.spot_detail_images {
    height: 0px;
}

.spot_detail_images img {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.all_reviews {
    padding: 25px 50px;
}

.each_review {
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 80px;
}
