#root {
    height:  100vh;
}

.spot_images {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.reserve_button {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 0px;
    margin-top: 30px;
    width: 100px;
}
.reserve_button button {
    padding-top: 10px;
}

.reserve_box {
    display: flex;
    justify-content: space-around;
    border: black 1px solid;
    padding: 10px;
    border-radius: 10px;
}
.spot_reserve_price {
    margin-left: 5px;
    margin-top: 0px;
}
.rating_reservation {
    margin-top: 0px;
    margin-right: 5px;
}

.spot_info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: black 1px solid;
}

.all_images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
}
.preview_image {
    padding: 30px;
    height: 300px;
    width: 45%;
}
.rest_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    height: 500px;
    margin: 0px 0px;
}
.rest_images img {
    width: 350px;
    height: 200px;
    padding: 0px 20px;
    border: 10px;
    margin: 10px;
}
.previewImg {
    width: 100%;
}
.preview_image img {
    width: 600px;
}

.spot_details {
    padding: 0px 100px;
    margin: 10px 50px;
}
.spot_detail_images {
    height: 0px;
}

.spot_detail_images img {
    display: flex;
    flex-wrap: wrap;
}

.all_reviews {
    padding: 25px 50px;
}

.each_review {
    margin-bottom: 100px;
}
