.navbar {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.left_nav {
    position: absolute;
    top: 20px;
    left: 40px;
    padding: 10px 10px;
}

.right_nav {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 10px;
}

.icon {
    padding: 10px 10px;
}

.create_spot {
    position: absolute;
    top: 10px;
    right: 150px;
    width: 100px;
}

.hidden {
    display: none;
}
